# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.py[cod]
*.egg-info/
.env
*.env

# Virtual environment
venv/
env/
.env/
.venv/
env.bak/

# Pytest
.cache/
pytest*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage
.coverage
coverage.xml
*.cover
*.py,cover
nosetests.xml
test_*.xml

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Others
.DS_Store
Thumbs.db

.flake8
